body {
    font-family: 'Courier New', Courier, monospace;
}
table {
    text-align: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 40%;
}

th {
    padding: 20px;
    font-size: 30px;
}

td {
    padding: 10px;
}


h2 {
    text-align: center;
    font-size: 30px;
    color: brown;
    margin-top: 100px;
}

img {
    width: 400px;
    height: 400px; 
    display: block; 
    margin: 0 auto; /*center an image*/
}

p {
    text-align: center;
}

ol {
    display: block;
    margin-left: 35%;
}

a{
    font-size: 15px;
}